# .github/workflows/generate-directory.yml
name: Generate Directory Markdown

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  generate-directory:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Directory Tree Generator
        uses: DenizAltunkapan/directory-tree-generator@v2
        with:
          path: chronique
          extensions: .html
          show-extensions: true
          
  
    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.0
        
